Repository cilly-yllic/cilly-yllic.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint",
    "prettier --write",
    "git add"
  ],
  "*.{css,scss,json,yml}": [
    "prettier --write",
    "git add"
  ]
}

fix: deploy error
  .github/workflows/static.yml
Due: prettier --write

fix: description
  src/app/pages/top/work/work.component.ts
Due: eslint, prettier --write

og & analytics
  src/app/app.routes.ts
  src/app/pages/top/contact/contact.component.html
  src/index.html
Due: eslint, prettier --write

favicon ファイルを配置 #1
  src/favicon.ico
Due: none

使うフォントのリンク #1
  src/index.html
Due: none

デザインや情報整理 #1
  src/app/pages/top/contact/contact.component.html
  src/app/pages/top/contact/contact.component.scss
  src/app/pages/top/skills/skills.component.html
  src/app/pages/top/skills/skills.component.scss
  src/app/pages/top/top.component.html
  src/app/pages/top/top.component.scss
  src/app/pages/top/work/work.component.html
  src/app/pages/top/work/work.component.scss
  src/app/styles/_main.scss
  src/styles.scss
Due: prettier --write

remove meaningless files
  src/app/app.component.ts
  src/app/layout/footer/footer.component.html
  src/app/layout/footer/footer.component.scss
  src/app/layout/footer/footer.component.ts
  src/app/layout/header/header.component.html
  src/app/layout/header/header.component.scss
  src/app/layout/header/header.component.ts
  src/app/layout/layout.component.html
  src/app/layout/layout.component.scss
  src/app/layout/layout.component.ts
  src/app/pages/others/others.component.html
  src/app/pages/others/others.component.scss
  src/app/pages/others/others.component.ts
  src/app/pages/top/skills/skills.component.html
  src/app/pages/top/skills/skills.component.ts
  src/app/pages/top/top.component.html
  src/app/pages/top/work/work.component.html
  src/app/pages/top/work/work.component.ts
  src/index.html
Due: eslint, prettier --write

Astro プロジェクトを初期化し GitHub Pages デプロイを設定 #3
  .github/workflows/static.yml
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/tasks.json
  README.md
  astro.config.mjs
  mise.toml
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.png
  public/og-image.png
  src/pages/index.astro
  tsconfig.json
Due: prettier --write

Home ページを実装 #4
  src/components/ExternalLinks.astro
  src/components/Hero.astro
  src/components/Skills.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: none

Home ページを実装 #4 (#11)
  src/components/ExternalLinks.astro
  src/components/Hero.astro
  src/components/Skills.astro
  src/layouts/BaseLayout.astro
  src/pages/index.astro
Due: none

Projects (Task Tree) ページを実装 #5
  package-lock.json
  package.json
  src/components/DecisionList.astro
  src/components/Mermaid.astro
  src/components/Section.astro
  src/pages/projects.astro
Due: prettier --write

Projects (Task Tree) ページを実装 #5 (#12)
  package-lock.json
  package.json
  src/components/DecisionList.astro
  src/components/Mermaid.astro
  src/components/Section.astro
  src/pages/projects.astro
Due: prettier --write

Architecture Notes セクションを実装 #6
  astro.config.mjs
  src/components/ArticleCard.astro
  src/components/ExternalLinks.astro
  src/content.config.ts
  src/content/notes/ai-development/cognitive-load-in-multi-repository-ai-workflows.md
  src/content/notes/engineering-philosophy/why-full-stack-engineer-is-ambiguous.md
  src/content/notes/firebase-gcp/firestore-as-public-cache.md
  src/content/notes/frontend-architecture/why-i-avoid-centralized-state-management.md
  src/content/notes/search-opensearch/parent-child-query-pitfalls.md
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
Due: eslint, prettier --write

Architecture Notes セクションを実装 #6 (#13)
  astro.config.mjs
  src/components/ArticleCard.astro
  src/components/ExternalLinks.astro
  src/content.config.ts
  src/content/notes/ai-development/cognitive-load-in-multi-repository-ai-workflows.md
  src/content/notes/engineering-philosophy/why-full-stack-engineer-is-ambiguous.md
  src/content/notes/firebase-gcp/firestore-as-public-cache.md
  src/content/notes/frontend-architecture/why-i-avoid-centralized-state-management.md
  src/content/notes/search-opensearch/parent-child-query-pitfalls.md
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
Due: eslint, prettier --write

Playground / OSS / About / Contact ページを実装 #7
  src/components/StatusCard.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/oss.astro
  src/pages/playground.astro
Due: none

Playground / OSS / About / Contact ページを実装 #7 (#14)
  src/components/StatusCard.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/oss.astro
  src/pages/playground.astro
Due: none

デザインシステムと共通レイアウトを整備 #8
  src/components/Mermaid.astro
  src/components/SiteFooter.astro
  src/components/SiteHeader.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
  src/pages/oss.astro
  src/pages/playground.astro
  src/pages/projects.astro
  src/styles/base.css
  src/styles/tokens.css
Due: prettier --write

デザインシステムと共通レイアウトを整備 #8 (#15)
  src/components/Mermaid.astro
  src/components/SiteFooter.astro
  src/components/SiteHeader.astro
  src/components/ThemeToggle.astro
  src/layouts/BaseLayout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
  src/pages/oss.astro
  src/pages/playground.astro
  src/pages/projects.astro
  src/styles/base.css
  src/styles/tokens.css
Due: prettier --write

SEO 対応 (sitemap / robots / RSS / JSON-LD / OGP) #9
  astro.config.mjs
  package-lock.json
  package.json
  public/robots.txt
  src/layouts/BaseLayout.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/rss.xml.ts
Due: eslint, prettier --write

SEO 対応 (sitemap / robots / RSS / JSON-LD / OGP) #9 (#16)
  astro.config.mjs
  package-lock.json
  package.json
  public/robots.txt
  src/layouts/BaseLayout.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/rss.xml.ts
Due: eslint, prettier --write

コンテンツ整理と開発フロー整備 #17
  .github/workflows/ci.yml
  .oxfmtrc.json
  lefthook.yml
  package-lock.json
  package.json
  public/images/gcp-firebase-platform-architecture.png
  public/images/multi-environment-gcp-firebase-platform-architecture.png
  public/images/nx-monorepo-deployment-architecture.png
  public/images/runtime-architecture-and-data-flow.png
  src/components/SiteHeader.astro
  src/content.config.ts
  src/content/notes/ai-development/cognitive-load-in-multi-repository-ai-workflows.md
  src/content/notes/engineering-philosophy/why-full-stack-engineer-is-ambiguous.md
  src/content/notes/firebase-gcp/config-driven-gcp-firebase-provisioning.md
  src/content/notes/firebase-gcp/firestore-as-public-cache.md
  src/content/notes/firebase-gcp/multi-service-firebase-runtime-and-delivery.md
  src/content/notes/frontend-architecture/why-i-avoid-centralized-state-management.md
  src/content/notes/search-opensearch/parent-child-query-pitfalls.md
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/index.astro
  src/pages/notes/rss.xml.ts
  src/pages/oss.astro
  src/pages/playground.astro
  src/pages/projects.astro
Due: eslint, prettier --write

コンテンツ整理と開発フロー整備 #17 (#18)
  .github/workflows/ci.yml
  .oxfmtrc.json
  lefthook.yml
  package-lock.json
  package.json
  public/images/gcp-firebase-platform-architecture.png
  public/images/multi-environment-gcp-firebase-platform-architecture.png
  public/images/nx-monorepo-deployment-architecture.png
  public/images/runtime-architecture-and-data-flow.png
  src/components/SiteHeader.astro
  src/content.config.ts
  src/content/notes/ai-development/cognitive-load-in-multi-repository-ai-workflows.md
  src/content/notes/engineering-philosophy/why-full-stack-engineer-is-ambiguous.md
  src/content/notes/firebase-gcp/config-driven-gcp-firebase-provisioning.md
  src/content/notes/firebase-gcp/firestore-as-public-cache.md
  src/content/notes/firebase-gcp/multi-service-firebase-runtime-and-delivery.md
  src/content/notes/frontend-architecture/why-i-avoid-centralized-state-management.md
  src/content/notes/search-opensearch/parent-child-query-pitfalls.md
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/index.astro
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/index.astro
  src/pages/notes/rss.xml.ts
  src/pages/oss.astro
  src/pages/playground.astro
  src/pages/projects.astro
Due: eslint, prettier --write

記事・OSS 一覧をカード化、About の興味タグを色分け
  src/components/ArticleCard.astro
  src/components/OssCard.astro
  src/pages/about.astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
  src/pages/oss.astro
Due: none

記事・OSS 一覧をカード化、About の興味タグを色分け (#22)
  src/components/ArticleCard.astro
  src/components/OssCard.astro
  src/pages/about.astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
  src/pages/oss.astro
Due: none

記事追加: Platform Sync (Cloudflare DNS / Logto / 証明書ゲート付き proxy / env bundle)
  public/images/cloudflare-cert-gated-proxy.png
  public/images/platform-sync-pipeline-architecture.png
  src/content/notes/firebase-gcp/platform-sync-dns-logto-proxy-env.md
Due: none

記事追加: Platform Sync (Cloudflare DNS / Logto / 証明書ゲート付き proxy / env bundle) (#24)
  public/images/cloudflare-cert-gated-proxy.png
  public/images/platform-sync-pipeline-architecture.png
  src/content/notes/firebase-gcp/platform-sync-dns-logto-proxy-env.md
Due: none

記事追加: AI エージェントのスコープ/権限ガードレール (claude-sessions)
  public/images/agent-session-scope-permission-architecture.svg
  src/content.config.ts
  src/content/notes/ai-agents/scope-and-permission-guardrails-for-coding-agents.md
Due: eslint, prettier --write

記事追加: AI エージェントのスコープ/権限ガードレール (claude-sessions) (#26)
  public/images/agent-session-scope-permission-architecture.svg
  src/content.config.ts
  src/content/notes/ai-agents/scope-and-permission-guardrails-for-coding-agents.md
Due: eslint, prettier --write

GA4 導入: gtag.js + リンク/ボタンクリック・初回ビュー計測 (#27)
  .env.example
  .github/workflows/static.yml
  src/components/AnalyticsEvents.astro
  src/components/GoogleAnalytics.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
Due: eslint, prettier --write

GA4 導入: gtag.js + リンク/ボタンクリック・初回ビュー計測 (#27) (#28)
  .env.example
  .github/workflows/static.yml
  src/components/AnalyticsEvents.astro
  src/components/GoogleAnalytics.astro
  src/env.d.ts
  src/layouts/BaseLayout.astro
Due: eslint, prettier --write

コメント機能: giscus 導入 + 記事一覧にコメント/いいね数表示
  .github/workflows/static.yml
  public/giscus/dark.css
  public/giscus/light.css
  src/components/ArticleCard.astro
  src/components/DiscussionStats.astro
  src/components/Giscus.astro
  src/config/giscus.ts
  src/env.d.ts
  src/lib/discussions.ts
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
Due: eslint, prettier --write

コメント機能: giscus 導入 + 記事一覧にコメント/いいね数表示 (#29)
  .github/workflows/static.yml
  public/giscus/dark.css
  public/giscus/light.css
  src/components/ArticleCard.astro
  src/components/DiscussionStats.astro
  src/components/Giscus.astro
  src/config/giscus.ts
  src/env.d.ts
  src/lib/discussions.ts
  src/pages/notes/[category]/[slug].astro
  src/pages/notes/[category]/index.astro
  src/pages/notes/index.astro
Due: eslint, prettier --write

コメント機能の改善: リアクションのツールチップ見切れ修正 + GitHub 直リンク追加
  public/giscus/dark.css
  public/giscus/light.css
  src/components/Giscus.astro
Due: prettier --write

コメント機能の改善: リアクションのツールチップ見切れ修正 + GitHub 直リンク追加 (#31)
  public/giscus/dark.css
  public/giscus/light.css
  src/components/Giscus.astro
Due: prettier --write

記事追加: contract.yml 一枚から Firebase 全レイヤーの型を生成する (firebase-contract)
  public/images/contract-driven-firebase-codegen-architecture.png
  src/content/notes/firebase-gcp/config-driven-gcp-firebase-provisioning.md
  src/content/notes/firebase-gcp/contract-driven-firebase-codegen.md
Due: none

記事追加: contract.yml 一枚から Firebase 全レイヤーの型を生成する (firebase-contract) (#38)
  public/images/contract-driven-firebase-codegen-architecture.png
  src/content/notes/firebase-gcp/config-driven-gcp-firebase-provisioning.md
  src/content/notes/firebase-gcp/contract-driven-firebase-codegen.md
Due: none
